@font-face{ font-family: Thunder; src: url('fonts/thunder.ttf');}
@font-face{ font-family: Bebas; src: url('fonts/BebasNeue.ttf');}

body {
  background-color: black;
}
h1, h2, h3, p{
	color: white;
}

h2, h3, p{
	font-family: Bebas;
}

h1{
	font-family: Thunder;
	text-align: center;
	font-size: 300%
}
h2{
	text-align: center;
	font-size: 200%
}
h3{
	text-align: center;
	font-size: 200%
}
p{
	text-align: center;
    font-size: 150%
}